<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MADA.DatePercent.SMTP.Api.Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MADA.DatePercent.SMTP.Api.Net.Properties.Settings.SmtpDBConnectionString"
            connectionString="Data Source=DEV;Initial Catalog=SmtpDB;Persist Security Info=True;User ID=sa;Password=qweQWE123!@#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <MADA.DatePercent.SMTP.Api.Net.Properties.Settings>
            <setting name="MADA_DatePercent_SMTP_Api_Net_com_dp68457_www_SmtpWS"
                serializeAs="String">
                <value>http://www.dp68457.com/SmtpWS.asmx</value>
            </setting>
        </MADA.DatePercent.SMTP.Api.Net.Properties.Settings>
    </applicationSettings>
</configuration>