USE [FacedateDB]
GO
/****** Object:  Table [dbo].[T_SEX_TYPE]    Script Date: 07/17/2010 21:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SEX_TYPE](
	[SEX_CODE] [int] NOT NULL,
	[SEX_RES_CODE] [nvarchar](50) NULL,
	[SEX_DESCRIPTION] [nvarchar](50) NULL,
	[SEX_ORDER_BY] [int] NOT NULL,
	[SEX_SELECTED] [bit] NOT NULL CONSTRAINT [DF_T_SEX_TYPE_SEX_SELECTED]  DEFAULT ((0)),
	[SEX_DISABLED] [bit] NOT NULL CONSTRAINT [DF_T_SEX_TYPE_SEX_DISABLED]  DEFAULT ((0)),
 CONSTRAINT [PK_T_SEX] PRIMARY KEY CLUSTERED 
(
	[SEX_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
