<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MADA.DatePercent.SMTP.Api.Net.Tester.Properties.Settings.datepercentcomConnectionString"
            connectionString="Data Source=sql03.intervision.co.il;Initial Catalog=datepercentcom;Persist Security Info=True;User ID=datepercentcom;Password=dp633"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>