<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MADA.DatePercent.BL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MADA.DatePercent.BL.Properties.Settings.DatePercentDBConnectionString"
            connectionString="Data Source=DEV;Initial Catalog=DatePercentDB;Persist Security Info=True;User ID=sa;Password=qweQWE123!@#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <MADA.DatePercent.BL.Properties.Settings>
            <setting name="SET_ID" serializeAs="String">
                <value>1</value>
            </setting>
        </MADA.DatePercent.BL.Properties.Settings>
    </applicationSettings>
</configuration>